body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.logo__maze {
    padding-left: 40px;
    width: 158px;
}

.mainheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3f3f3f;
    max-width: 100%;
    max-height: 100px;
    margin: 0;
    padding: 15px 0 15px 0;
}

.mainheader__left {
    display: flex;
    flex-direction: row;
}

.mainheader__right {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    align-items: baseline;
}

.mainheader__right .btn {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: #FFFFFF
}

.btn :hover {
    color: #3c948b;
}

.search__input {
    display: flex;
    flex-direction: row;
    width: 500px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    background: #fefefe;
    border-radius: 40px 0px 0px 40px;
    height: 35px;
    border: none;
}

.search__button {
    display: flex;
    flex-direction: row;
    margin: 1px 0.5px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: none;
    border-radius: 0px 40px 40px 0px;
    height: 40px;
    width: 109px;
    background-color: #3c948b;
}

button :hover {
    background-color: #71c5bd;
}

.mainnav {
    display: flex;
    background-color: #3c948b;
    flex-flow: wrap;
    margin: 0;
    padding-left: 25px;
}

.mainnav__btn {
    padding: 10px 0 10px 0;
}

.mainnav__btn :hover {
    background-color: #3F3F3F;
}

.item {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
}

.iconSearch {
    padding-left: 30px;
    width: 25px;
    height: 25px;
}

.mainheader__center {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 110px;
}